@font-face {
  font-family: "MyWebFont";
  src: url("../font/self-modern_italic_web.woff2") format("woff2"),
    url("../font/self-modern_italic_web.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  background: #eee;
  display: flex;
  justify-content: center;
}

.screen {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  z-index: -4;
}
.titel {
  text-align: center;
  font-family: "Self Modern";
  font-size: 75px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -2.25px;
  padding: 159.5px 113.5px;
}

.QR-text {
  font-family: "Self Modern";
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1.44px;
  position: absolute;
  left: 63.5px;
  bottom: 124px;
}
.QR-code {
  position: relative;
  width: 186px;
  height: 186px;
  left: 65px;
  top: 1030px;
}

.log {
  width: 376px;
  height: 279px;
}
.button {
  display: flex;
  width: 790px;
  height: 786px;
  padding: 263px 207px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  border-radius: 700px;
  background-color: #fff;
  z-index: 1;
}
.dots {
  position: relative;
  right: -330px;
  top: 860px;
}
.dot-1 {
  width: 922.5px;
  height: 922.5px;
  border-radius: 922px;
  background: #1c7379;
  // filter: blur(10px);
  position: absolute;
  animation-duration: 4s;
  animation-name: changeGreenWidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeGreenWidth {
  from {
    width: 875px;
    height: 875px;
  }

  to {
    width: 922.5px;
    height: 922.5px;
  }
}

.dot-2 {
  width: 1039px;
  height: 1039px;
  border-radius: 1039px;
  background: #308fff;
  // filter: blur(10px);
  position: absolute;
  animation-duration: 4.0005s;
  animation-name: changeBlueWidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeBlueWidth {
  from {
    width: 875px;
    height: 875px;
  }

  to {
    width: 1100px;
    height: 1100px;
  }
}

.dot-3 {
  width: 1240px;
  height: 1240px;
  border-radius: 1240px;
  background: #ff5f1a;
  // filter: blur(5px);
  position: absolute;
  animation-duration: 4s;
  animation-name: changeOrangeWidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeOrangeWidth {
  from {
    width: 875px;
    height: 875px;
  }

  to {
    width: 1240px;
    height: 1240px;
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.two {
  position: absolute;
  z-index: -2;
}
.first {
  position: absolute;
  z-index: -1;
}
.three {
  position: absolute;
  z-index: -3;
}
